<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Yoga Studio Template">
    <meta name="keywords" content="Yoga, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel='icon' href='/images/favicon.ico' class='js-favicon'>
    
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/flaticon.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section listings">
        <div class="container-fluid">
            <div class="logo">
                <a href="/users"><img src="/images/logo4.png" alt=""></a>
            </div>
            <nav class="main-menu mobile-menu">
                <ul>
                    <li><a href="/users">Home</a></li>
                    <li class="active"><a href="/users/explore">Explore</a></li>
                    <li><a href="/users/#forYou">For You</a></li>
                    <li><a href="/users/#forYourTaste">4Your Tastes</a></li>
                    <li><a href="/users/news">News</a></li>
                    <li><a href="/users/contact">Contact</a></li>
                </ul>
            </nav>
            <div class="header-right">
                <div class="user-access">
                    <a href="/">Logout</a>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Map Section Begin --> 
    <div class="map">
        <iframe id="mapExplore"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyALxnznHKaOFYyKB35bm1JVkhM032X9DOA
                 &q=<%= cityExplore %>>"
            height="657" style="border:0;" allowfullscreen="">
        </iframe>
    </div>
    <!-- Map Section End -->

    <!-- Search Filter Section Begin -->
    <section class="search-filter spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- TODO -->
                    <form action="/users/explore" class="filter-search" method='POST'>
                        <div class="category-search">
                            <h5>Cuisine Style</h5>
                            <select class="lo-search" name="cuisineStyle">
                                <option value="none" selected="selected">None</option>
                                <% for (cuisineStyle of cuisineStyles){%>
                                    <option value="<%= cuisineStyle.CuisineStyle %>"><%= cuisineStyle.CuisineStyle %></options>
                                <% } %>
                            </select>
                        </div>
                        <div class="location-search">
                            <h5>Your Location</h5>
                            <select class="lo-search" id="selectCity" name="city">
                                <option value="none" selected="selected">None</option>
                                <option value="Barcelona">Barcelona</option>
                                <option value="Madrid">Madrid</option>
                                <option value="Porto">Porto</option>
                                <option value="Lisbon">Lisbon</option>
                            </select>
                        </div>
                        <button type="submit">Search Now</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Search Filter Section End -->

    <!-- Filter Section Begin -->
    <section class="filter-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="filter-left">
                        <div class="category-filter">
                            <h3>Price Range Filter</h3>
                            <div class="category-option">
                                <div class="co-item">
                                    <input type="radio">
                                    <label class="active">$$$$</label>
                                </div>
                                <div class="co-item">
                                    <input type="radio">
                                    <label>$$$</label>
                                </div>
                                <div class="co-item">
                                    <input type="radio">
                                    <label>$$</label>
                                </div>
                                <div class="co-item">
                                    <input type="radio">
                                    <label>$</label>
                                </div>
                            </div>
                        </div>
                        <div class="rating-filter">
                            <h3>Ratings</h3>
                            <div class="rating-option">
                                <div class="ro-item">
                                    <input type="radio">
                                    <label class="active">5.0</label>
                                    <div class="rating-pic">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <div class="ro-item">
                                    <input type="radio">
                                    <label>4.0</label>
                                    <div class="rating-pic">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star grey-bg"></i>
                                    </div>
                                </div>
                                <div class="ro-item">
                                    <input type="radio">
                                    <label>3.0</label>
                                    <div class="rating-pic">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star grey-bg"></i>
                                        <i class="fa fa-star grey-bg"></i>
                                    </div>
                                </div>
                                <div class="ro-item">
                                    <input type="radio">
                                    <label>2.0</label>
                                    <div class="rating-pic">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star grey-bg"></i>
                                        <i class="fa fa-star grey-bg"></i>
                                        <i class="fa fa-star grey-bg"></i>
                                    </div>
                                </div>
                                <div class="ro-item">
                                    <input type="radio">
                                    <label>1.0</label>
                                    <div class="rating-pic">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star grey-bg"></i>
                                        <i class="fa fa-star grey-bg"></i>
                                        <i class="fa fa-star grey-bg"></i>
                                        <i class="fa fa-star grey-bg"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="distance-filter">
                            <h3>Distance</h3>
                            <div class="distance-option">
                                <div class="do-item">
                                    <input type="radio">
                                    <label class="active">0.0-0.3 km</label>
                                </div>
                                <div class="do-item">
                                    <input type="radio">
                                    <label>0.3-0.6 km</label>
                                </div>
                                <div class="do-item">
                                    <input type="radio">
                                    <label>0.6-0.9 km</label>
                                </div>
                                <div class="do-item">
                                    <input type="radio">
                                    <label>1.0-3.0 km</label>
                                </div>
                                <div class="do-item">
                                    <input type="radio">
                                    <label>3.0-10.0 km</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row" >
                        <div class="col-lg-12">
                            <form action="#" class="arrange-select">
                                <span>Arrange by Rating</span>
                                <select>
                                    <option>Ascending</option>
                                    <option>Descending</option>
                                </select>
                            </form>
                        </div>
                        <%var flag=1%>
                        <%var i=1%>
                        <% for (restaurant of restaurants){%>
                            <% if(flag<=9){%>
                                <div class="col-lg-4 col-sm-6" id="div_<%= flag %>">
                                    <a class="arrange-items" href="/users/restaurant/<%= restaurant._id %>">
                                        <div class="arrange-pic">
                                            <img src="/images/arrange/arrange-<%= i %>.jpg" alt="">
                                            <div class="rating"><%= restaurant.Rating %></div>
                                            <div class="tic-text">Restaurants</div>
                                        </div>
                                        <div class="arrange-text">
                                            <h5><%= restaurant.Name %></h5>
                                            <span><%= restaurant.City %></span>
                                            <p> </p>
                                            <div class="open tomorrow">Opens Tomorow at 10am</div>
                                        </div>
                                    </a>
                                </div>
                            <% } else {%>
                                <div class="col-lg-4 col-sm-6" id="div_<%= flag %>" style="display: none;">
                                    <a class="arrange-items" href="/users/restaurant/<%= restaurant._id %>">
                                        <div class="arrange-pic">
                                            <img src="/images/arrange/arrange-<%= i %>.jpg" alt="">
                                            <div class="rating"><%= restaurant.Rating %></div>
                                            <div class="tic-text">Restaurants</div>
                                        </div>
                                        <div class="arrange-text">
                                            <h5><%= restaurant.Name %></h5>
                                            <span><%= restaurant.City %></span>
                                            <p> </p>
                                            <div class="open tomorrow">Opens Tomorow at 10am</div>
                                        </div>
                                    </a>
                                </div>
                            <% } %>
                            <%i = i+1%>
                            <%flag = flag+1%>
                            <% if(i==10){%>
                                <% i = 1 %>
                            <% } %>
                        <% } %>
                        <div class="col-lg-12 text-right">
                            <div class="pagination-num">
                                <button onclick="hideShow([1,2,3,4,5,6,7,8,9])">01</button>
                                <button onclick="hideShow([10,11,12,13,14,15,16,17,18])">02</button>
                                <button onclick="hideShow([19,20,21,22,23,24,25,26,27])">03</button>
                                <button onclick="hideShow([28,29,30,31,32,33,34,35,36])">04</button>
                                <button onclick="hideShow([37,38,39,40,41,42,43,44,45])">05</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Filter Section End -->

    <!-- App Section Begin -->
    <!-- <section class="app-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <img src="/images/iphone.png" alt="">
                </div>
                <div class="col-lg-6 offset-lg-1">
                    <div class="app-text">
                        <div class="section-title">
                            <h2>Get the App now!</h2>
                            <p>Explore some of the best places in Iberian Peninsula</p>
                        </div>
                        <p>Try our mobile platform now available for both IOS and Android. Enjoy the same kind of experience as our 
                            site on your mobile device and always stay abreast of news and the best suggestions for you. All we do is 
                            think of the best for you.</p>
                        <ul>
                            <li><img src="/images/check-icon.png" alt="">
                                Varied search by customer.</li>
                            <li><img src="/images/check-icon.png" alt="">Custom suggestions according to the customer.</li>
                            <li><img src="/images/check-icon.png" alt="">Variation of choice, better options.
                            </li>
                        </ul>
                        <a href="https://www.apple.com/pt/"><img src="/images/apple-store.jpg" alt=""></a>
                        <a href="https://play.google.com/store?hl=pt_PT"><img src="/images/google-store.jpg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- App Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <form action="/newsLetters" class="newslatter-form" method="POST">
                        <input name="email" type="text" placeholder="Your email address">
                        <button type="submit">Subscribe to our Newsletter</button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget">
                        <h4>Usefull Links</h4>
                        <ul>
                            <li>About us</li>
                            <li>Testimonials</li>
                            <li>How it works</li>
                            <li>Create an account</li>
                            <li>Our Services</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget">
                        <h4>Locations</h4>
                        <ul>
                            <li>Iberian Peninsula</li>
                            <li>Porto</li>
                            <li>Lisbon</li>
                            <li>Madrid</li>
                            <li>Barcelona</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget">
                        <h4>Cuisine Styles</h4>
                        <ul>
                            <li>European</li>
                            <li>Portuguese</li>
                            <li>Spanish</li>
                            <li>Asin</li>
                            <li>And much more...</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget">
                        <h4>From the Blog</h4>
                        <div class="single-blog">
                            <div class="blog-pic">
                                <img src="/images/f-blog-1.jpg" alt="">
                            </div>
                            <div class="blog-text">
                                <h6>10 Best clubs in town</h6>
                                <span>March 27, 2019</span>
                            </div>
                        </div>
                        <div class="single-blog">
                            <div class="blog-pic">
                                <img src="/images/f-blog-2.jpg" alt="">
                            </div>
                            <div class="blog-text">
                                <h6>10 Best restaurants in town</h6>
                                <span>March 27, 2019</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row footer-bottom">
                <div class="col-lg-5 order-2 order-lg-1">
                    <div class="copyright"><p class="text-white">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This WebSite is made by <a href="/" target="_blank" >EatFlix</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p></div>
                </div>
                <div class="col-lg-7 text-center text-lg-right order-1 order-lg-2">
                    <div class="footer-menu">
                        <a href="/users">Home</a>
                        <a href="/users/explore?city=<%= cityExplore %>">Explore</a>
                        <a href="/users/#forYou">For You</a>
                        <a href="/users/news">News</a>
                        <a href="/users/contact">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="/javascripts/jquery-3.3.1.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/jquery.magnific-popup.min.js"></script>
    <script src="/javascripts/jquery.slicknav.js"></script>
    <script src="/javascripts/owl.carousel.min.js"></script>
    <script src="/javascripts/jquery.nice-select.min.js"></script>
    <script src="/javascripts/mixitup.min.js"></script>
    <script src="/javascripts/main.js"></script>
    <script language="javascript">
        $(function(){
            $("#selectCity").on('change', function(){
                if(this.value != 'none') {
                    document.getElementById("mapExplore").src = "https://www.google.com/maps/embed/v1/place?key=AIzaSyALxnznHKaOFYyKB35bm1JVkhM032X9DOA&q="+this.value+">"
                } else {
                    document.getElementById("mapExplore").src = "https://www.google.com/maps/embed/v1/place?key=AIzaSyALxnznHKaOFYyKB35bm1JVkhM032X9DOA&q=Iberian Peninsula>"
                }
            })
        });
        function hideShow(array) {
            var aux = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45]
            for(var j=0; j<array.length; j++) {
                var x = document.getElementById("div_"+array[j]);
                x.style.display = "block";
            }
            var temp = aux.filter(x => !array.includes(x));
            for(var i=0; i<temp.length ;i++) {
                var x = document.getElementById("div_"+temp[i]);
                x.style.display = "none";
            }
        }
    </script>
</body>

</html>